

.body_color_two{
   background-color:  #FFF9EA;
}

.card_color_two{
    /* border: none  !important; */
    background-color: #FFF9EA !important;

}
.card_color_two:hover {
    border: 1px solid #F3D655;

  }
.card_img_two {
    border: 5px solid rgb(255, 255, 255); 
   
  }
  /* .card_img:hover {
    border: 5px solid #F3D655;
  } */
  .card_button_two{
      width: 150px;
       background-color: #111730 !important;
  }
  .image_two{
      position: relative;
  }
  .overlay_two{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: rgb(67, 68, 68, 0.7);
  }
  .image_two:hover .overlay_two{
      opacity: 1;
}
.detail_two{
    color:#fff;
    font-size: 20px;
    position: absolute;
    top: 50%;;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width:768px){
    .card_button_two{
        width: 125px;
         
    }
}
@media screen and (max-width:320px){
    .card_button_two{
        width: 125px;
         
    }
}
@media screen and (max-width:280px){
    .card_button_two{
        width: 85px;
        font-size: 10px !important;
         
    }
}