*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
.button{
    background-color: #fdd007 !important;
    color: #000000 !important;
    cursor: pointer !important;
    text-transform: uppercase;
    /* white-space: nowrap !important; */
    /* padding: 0 40px !important; */
    height: 40px;
    width:160px;
 }

.text{
    text-align: right;
}