*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  .button{
    background-color: #fdd007 !important;
    color: #000000 !important;
    cursor: pointer !important;
    text-transform: uppercase;
    /* white-space: nowrap !important; */
    /* padding: 0 40px !important; */
    height: 40px;
    width:270px;
 }
  input{
    height: 40px;
    width:270px;
    background-color:  white !important;
    border: 1px solid rgb(36, 34, 34) !important;
 }  

 .vl {
    border-left: 1px solid gray;
    height: 450px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 3%;
  } 
  /* form{
    margin-left: 80px;
   
  } */
  /* @media screen and (max-width: 768px){
    form{
        margin-left: 10px;
       
      }
  }
  @media screen and (max-width: 540px){
    form{
        margin-left: 120px;
       
      }
      .visibility{
          display: block;
          visibility: hidden ;
      }
  }
  @media screen and (max-width: 414px){
    form{
        margin-left: 50px;
       
      }
      
  }
  @media screen and (max-width: 320px) {
    .form_1{
        margin-left: 10px;
    }
    .form_2{
        margin-left: 10px;
    }
  }
  @media screen and (max-width: 280px){
      .form_1{
          margin-left: -5px;
      }
  } */
  @media screen and (max-width: 1024px){
    .heading{
      margin-left: -24px;

  }
  .form-check{
    margin-left: -33px !important;
  }
  }
  @media screen and (max-width: 768px){
    .heading{
      margin-left: -52px;

  }
  .form-check{
    margin-left: -57px !important;
  }
  }
  @media screen and (max-width: 540px){
    .heading{
      margin-left: 126px;
  }
  .form-check{
    margin-left: -23px !important;
  }
  .vl {
    border: none;
  }
  }
  @media screen and (max-width: 414px){
    .heading{
        margin-left: 63px;
    }
      
  }
  @media screen and (max-width: 375px){
    .heading{
        margin-left: 45px;
    }
      
  }
  @media screen and (max-width: 360px){
    .heading{
        margin-left: 37px;
    }
      
  }
  @media screen and (max-width: 320px){
    .heading{
        margin-left: 17px;
    }
      
  }
 
 