
.forgot_password_button{
    background-color: #fdd007 !important;
    color: #000000 !important;
    cursor: pointer !important;
    text-transform: uppercase;
    /* white-space: nowrap !important; */
    /* padding: 0 40px !important; */
    height: 40px;
    width:270px;
 }
  .forgot_input{
    height: 40px;
    width:270px;
    background-color:  white !important;
    border: 1px solid rgb(36, 34, 34) !important;
 } 

 @media screen and (max-width: 414px){
    .forgot_password_heading{
      font-size:large;
    }
 }

 @media screen and (max-width: 280px){
   .forgot_password_heading{
     font-size:medium;
   }
}
